/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */

.container {
    width: 80%;
    margin: auto;
    /* border: 1px solid gray; */
}

nav {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    margin-right: 60px;
}

.logo2 {
    display: none;
}

.toolbar {
    text-decoration: none;
    color: black;
    margin-top: 20px;
    color:darkgray;
}

.logo {
    display: flex;
}

.titlediv {
    display: flex;
    flex-flow: row wrap;
}

.title-button {
    display: flex;
    text-align: center;
    flex-direction: column;
    width: 40%;
    padding-top: 20px;
    justify-content: center;
    margin-bottom: 70px;
    margin-left: 15%;
}

.title {
    display: flex;
    flex-direction: column;
    font-size: 500%;
    margin-top: 120px;
    justify-content: center;
    text-align: center;
}

.but1 {
    background-color: White; 
    border: 1px solid black;
    color: Black;
    padding: 7px 7px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 120%;
    justify-content: center;
    width: 50%;
    /* font-weight: bold; */
    margin-left: 15%;
    margin-top: 20px;
}

.pic1 {
    margin-top: 100px;
    margin-bottom: 70px;
    width: 37%;
    height: 37%;
}

hr {
    border: none;
    height: 2px;
    color: #333; 
    background-color: #333; 
}

.upper-text {
    display: flex;
    flex-flow: row wrap;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: space-between;
}

.features-blurb {
    display: flex;
    width: 50%;
    font-size:115%;
    flex-direction: column;
}

h1 {
    display: flex;
    width: 30%;
}

.about-blurb {
    display: flex;
    width: 50%;
    font-size:115%;
    flex-direction: column;
}

.middle-pic-div {
    display: flex;
    justify-content: flex-end;
}

.middle-img {
    width: 100%;
}

.lower-text {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.lower-blurb {
    display: flex;
    flex-direction: column;
    width: 32%;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 0px;
    font-size: 115%;
}

.contact-info {
    margin-top: 40px;
    display:flex;
    font-size: 110%;
    flex-direction: column;
}

.phone-number {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content:flex-start;
}

.s2 {
    display: flex;
    margin-bottom: 10px;
    text-align:left;
}

.copyright {
    display:flex;
    width: 100%;
    margin-top: 100px;
    justify-content: center;
	margin-bottom: 100px;
}


.simaster {
	display: flex;
	align-items: center;
}

.services-header {
	display: flex;
	justify-content: center;
}

.serviceshead {
	justify-content: flex-start;
	font-size: 150%;
}

.services-information {
	display: flex;
	height: 150px;
	/* align-items: center;  */
	margin-top: 25px;
}

.middle-section {
	display: flex;
	border: 1px solid black;
	background-color: lightgrey;
	width: 45%;
	height: 200px;
	flex-direction: column;
	font-size: 110%;
	line-height: 23px;
}

.all-middle-sections {
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap; 
	height: 700px;
}

.services-information {
	display: flex;
	width: 880px;
	flex-direction: column;
	margin-left: 70px;
}

.services-blurb {
	width: 880;
}

h2 {
	display: flex;
	width: 45%;
}

.some-facts {
	display:flex;
	width: 50%;
	flex-direction: column;
}

ul {
	line-height: 30px;
	list-style-type: square;
	margin-left: 20px;
}

.services-img {
	display: flex;
}

.fact-section {
	display: flex;
	flex-flow: row wrap;
}

.learn-more {
	display: inline-block;
    /* Margin: 20px; */
    /* padding: 5px 20px; */
    border: 2px solid black;
    /* padding-right: 30px;
    padding-left: 30px;  */
    color: black;
    height: 25px;
    width: 150px !important;
    /* padding-top: 15px; */
    text-align: center;
	text-decoration: none;
	margin-top: 10px;
	margin-bottom: 10px;
	background: white;
	margin-left: 100px;
}

@media(max-width: 1100px) {
    .titlediv {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 0px;
    }

   
    .title-button {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 0px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .title {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 0px; 
        margin-bottom: 30px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .but1 {
        margin: auto;
        width: 30%;
        font-size: 16px;
        font-weight: bold;
    }
    
    .pic1 {
        display: none;
    }
}

@media(max-width: 800px) {
    .logo {
        display:none;
    }

    .logo2-div {
        display: flex;
        width: 100%;
        justify-content: center;
        margin-bottom: 3%;
    }

    .logo2 {
        display: flex;
        justify-content: center;
        margin-top: 7%;
    }

    nav {
        margin: 0px;
    }

    .titlediv {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 0px;
    }

   
    .title-button {
        display: flex;
        width: 100%;
        justify-content: center;
        margin: 0px;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .title {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-top: 0px; 
        margin-bottom: 30px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .but1 {
        margin: auto;
        width: 30%;
        font-size: 16px;
        font-weight: bold;
    }


    .pic1 {
        display: none;
    }
} 

@media(max-width: 500px){ 
   
    .logo2 {
        margin-top: 7%;
        margin-bottom: 3%;
    }
    
    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        margin: 0px;
    }
   
    .toolbar {
        display: flex;
        width: 100%;
        border-top: 1px solid black;
        justify-content: center;
        margin: 0px;
        padding: 15px;
    }

    #contact-top-nav {
        border-bottom: 1px solid black;
    }

    .title {
        font-size: 400%;
    }

    .but1 {
        width: 40%;
        font-size: 90%;
    }

    .features-blurb {
        width: 100%;
        margin-bottom: 50px;
    }

    .about-blurb {
        width: 100%;
    }

    .lower-blurb {
        width: 100%;
        margin-bottom: 20px;
    }

    .mobile-nav {
        display: flex;
        justify-content: center;
        width: 100%;
    }
} 